table {
    position: relative;
    left: 5%;
    width: 90%;
    margin-top: 10px;
}

.mat-header-row {
    background-color: #eee;
}

#paginator-container {
    position: relative;
    left: 5%;
    width: 90%;
    margin-top: 20px;
}

#column-name {
    width: 30%;
}

#column-category {
    width: 25%;
}

#column-tags {
    width: 25%;
}

#column-balance {
    width: 10%;
}

#column-available-balance {
    width: 10%;
}