mat-spinner {
    margin: 0px auto 20px;
    top: 30%;
}

#container {
    width: 100%;
    height: 100%;
}

#connecting-container {
    position: relative;
    top: 30%;
}

#connecting-msg {
    text-align: center;
}

#fadeoff-accounts {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}