<!-- Server connection loader spinner -->
<div id="container" *ngIf="!isSocketConnected()">
  <mat-spinner diameter="70"></mat-spinner>
  <div id="connecting-container">
    <h2 id="connecting-msg">Connecting to server...</h2>
  </div>
</div>

<!--Content -->
<div *ngIf="isSocketConnected()">
  <!-- Top bar (Exchange ratio) -->
  <app-top-bar></app-top-bar>

  <!-- Table for the list of accounts -->
  <app-accounts-table (emitDataViewDetail)="onDataViewDetail($event)"></app-accounts-table>

  <!-- Fade Down background-->
  <div *ngIf="dataViewDetailShow" id="fadeoff-accounts"></div>

  <!-- Table for account's details -->
  <app-account-details *ngIf="dataViewDetailShow" [account]="dataViewDetailAccount" (emitDetailsViewOnClose)="detailsViewOnclose()"></app-account-details>
</div>
