<div id="header">
  <h2>Technest Senior Test by Lorenzo Portillo</h2>
</div>
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLinkActive="active" routerLink="home">Home</button>
      <button mat-button routerLinkActive="active" routerLink="accounts">Accounts</button>
      <span class="example-spacer"></span>
      <div id="server-status">Server disconnected</div>
      <mat-spinner diameter="35"></mat-spinner>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
