<div id="header">
  <h2>Technest Senior Test by Lorenzo Portillo</h2>
</div>
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLinkActive="active" routerLink="home">Home</button>
      <button mat-button routerLinkActive="active" routerLink="accounts">Accounts</button>
      <button mat-button routerLinkActive="active" routerLink="instructions">Instructions</button>
      <span class="example-spacer"></span>
      <ng-content *ngIf="isServerConnected(); then connected else disconnected"></ng-content>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<ng-template #connected>
    <div id="server-status">Connected</div>
</ng-template>

<ng-template #disconnected>
    <div id="server-status">Server disconnected</div>
    <mat-spinner diameter="35"></mat-spinner>
</ng-template>
